<footer>
    <div class="container">
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!-- <p>E-Challan &copy; {{ currentYear }}</p> -->
    </div>
  </footer>
  