<footer>
    <div class="container">
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="fab fa-facebook">fb</i>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="fab fa-twitter">tw</i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="fab fa-instagram">Insta</i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin">ln</i>
        </a>
      </div>
      <!-- <p>E-Challan &copy; {{ currentYear }}</p> -->
    </div>
  </footer>
  