.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ced4da;
  }
  
  .captcha-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .captcha-image {
    margin-right: 20px;
  }
  
  .captcha-refresh {
    cursor: pointer;
    font-weight: bold;
    color: blue;
  }
  
  .btn-primary {
    background-color: blue;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0066cc;
  }
  
  .alert {
    margin-top: 30px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  