<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">E-Challan System</a>
  <div class="navbar-nav mr-auto">
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    <a class="nav-link" routerLink="/challan">Challans</a>
    <a class="nav-link" routerLink="/vehicle">Vehicles</a>
    <a class="nav-link" routerLink="/vehiclestatus">vehiclestatus</a>
    <a class="nav-link" routerLink="/payment">Payment</a>
  </div>
  <div class="navbar-nav">
    <a class="nav-link" routerLink="login" *ngIf="!authService.isLoggedIn">Login</a>
    <a class="nav-link" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</a>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
